
{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div id="app">
        <content-component :categories="{{ categories }}"></content-component>
    </div>

{% endblock %}